<h2 class="fs-6">Random Dad Joke:</h2>

<mat-card>
  <ng-container *ngIf="joke$ | async as joke">
    <mat-card-content>
      <p class="text-muted text-monospace">
        {{joke.joke}}
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="d-flex">
      <button mat-button class="flex-fill" (click)="copy(joke.joke)">Copy Joke</button>
      <button mat-button color='accent' class="flex-fill" (click)="getRandomJoke()">Generate New</button>
    </mat-card-actions>
  </ng-container>
</mat-card>
